<?xml version="1.0" encoding="UTF-8"?>
<agile-test-container:beans xmlns:agile-test-container="http://www.springframework.org/schema/beans"
                            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                            xmlns:context="http://www.springframework.org/schema/context"
                            xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context.xsd">

    <agile-test-container:description>spring 总配置容器</agile-test-container:description>

    <!--属性文件引入-->
    <context:component-scan base-package="com.agile"/>

</agile-test-container:beans>