<?xml version="1.0" encoding="UTF-8"?>
<agile-druid:beans xmlns:agile-druid="http://www.springframework.org/schema/beans"
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xmlns:p="http://www.springframework.org/schema/p"
                   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <agile-druid:description>数据连接池配置</agile-druid:description>
    <agile-druid:bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"
                      p:driverClassName="${agile.druid.driver_class_name}"
                      p:url="${agile.druid.jdbc_url_prefix}${agile.druid.data_base_ip}:${agile.druid.data_base_post}/${agile.druid.data_base_name}?${agile.druid.data_base_url_param}"
                      p:username="${agile.druid.data_base_username}"
                      p:password="${agile.druid.data_base_password}"
                      p:initialSize="${agile.druid.init_size}"
                      p:minIdle="${agile.druid.min_idle}"
                      p:maxActive="${agile.druid.max_active}"
                      p:maxWait="${agile.druid.max_wait}"
                      p:removeAbandoned="${agile.druid.remove_abandoned}"
                      p:removeAbandonedTimeout="${agile.druid.remove_abandoned_timeout}"
                      p:timeBetweenEvictionRunsMillis="${agile.druid.time_between_eviction_runs_millis}"
                      p:minEvictableIdleTimeMillis="${agile.druid.min_evictable_idle_time_millis}"
                      p:validationQuery="${agile.druid.validation_query}"
                      p:testWhileIdle="${agile.druid.test_while_idle}"
                      p:testOnBorrow="${agile.druid.test_on_borrow}"
                      p:testOnReturn="${agile.druid.test_on_return}"
                      p:poolPreparedStatements="${agile.druid.pool_prepared_statements}"
                      p:maxPoolPreparedStatementPerConnectionSize="${agile.druid.max_pool_prepared_statement_per_connection_size}"
                      p:filters="${agile.druid.filters}"
    />

</agile-druid:beans>