<?xml version="1.0" encoding="UTF-8"?>
<agile-container:beans xmlns:agile-container="http://www.springframework.org/schema/beans"
                       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
                       xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context.xsd">

    <agile-container:description>spring 总配置容器</agile-container:description>

    <!--属性文件引入-->
    <!--<context:property-placeholder location="classpath:com/agile/configure/agile.properties" ignore-unresolvable="true" ignore-resource-not-found="true" file-encoding="UTF-8"/>-->
    <!--<agile-container:import resource="classpath:com/agile/configure/spring-web-mvc.xml"/>-->
    <!--<agile-container:import resource="classpath:com/agile/configure/spring-druid.xml"/>-->
    <!--<agile-container:import resource="classpath:com/agile/configure/spring-jpa.xml"/>-->
    <!--<agile-container:import resource="classpath:com/agile/configure/spring-security.xml"/>-->
    <!--<agile-container:import resource="classpath:com/agile/configure/spring-ehcache.xml"/>-->
    <!--<agile-container:import resource="classpath:com/agile/configure/spring-redis.xml"/>-->
    <agile-container:import resource="classpath:com/agile/configure/spring-annotation.xml"/>
</agile-container:beans>