<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="order" value="0"/>
    </bean>

    <mvc:default-servlet-handler/>

    <mvc:annotation-driven >
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- swagger 配置 ,线上版本需要注释掉 -->
    <!--<bean class="com.agile.common.server.AgileSwaggerConfig"/>-->

    <!-- 配置静态资源-->
    <mvc:resources location="classpath:/META-INF/resources/" mapping="swagger-ui.html"/>
    <mvc:resources location="classpath:/META-INF/resources/webjars/" mapping="/webjars/**"/>

    <!--<bean id="AccountsDocket" class="com.agile.common.base.AgileMultiDocket">-->
        <!--<constructor-arg value="SWAGGER_2"/>-->
        <!--<property name="apiInfo" ref="apiInfo"/>-->
        <!--<property name="group" value="GR-API"/>-->
        <!--<property name="antPath" value="/swagger"/>-->
        <!--<property name="securityScheme" ref="apiKeyList"/>-->
    <!--</bean>-->

    <!--<bean id="apiContact" class="springfox.documentation.service.Contact">-->
        <!--<constructor-arg index="0" value="zhenzhong"/>-->
        <!--<constructor-arg index="1" value="https://www.gnum.com"/>-->
        <!--<constructor-arg index="2" value="zhenzhong@globalroam.com"/>-->
    <!--</bean>-->

    <!--<bean id="apiInfo" class="springfox.documentation.service.ApiInfo">-->
        <!--<constructor-arg index="0" type="java.lang.String" value="GlobalRoam REST API with Swagger"/>-->
        <!--<constructor-arg index="1" type="java.lang.String" value="GlobalRoam REST API with Swagger"/>-->
        <!--<constructor-arg index="2" type="java.lang.String" value="2.0"/>-->
        <!--<constructor-arg index="3" type="java.lang.String" value="GlobalRoam REST API with Swagger"/>-->
        <!--<constructor-arg index="4" type="springfox.documentation.service.Contact" ref="apiContact"/>-->
        <!--<constructor-arg index="5" type="java.lang.String" value="Apache License Version 2.0"/>-->
        <!--<constructor-arg index="6" type="java.lang.String" value="https://www.gnum.com"/>-->
    <!--</bean>-->

    <!--<util:list id="apiKeyList">-->
        <!--<bean class="springfox.documentation.service.ApiKey">-->
            <!--<constructor-arg name="name" value="Authorization"/>-->
            <!--<constructor-arg name="keyname" value="Authorization"/>-->
            <!--<constructor-arg name="passAs" value="header"/>-->
        <!--</bean>-->
    <!--</util:list>-->
</beans>