<?xml version="1.0" encoding="UTF-8"?>
<agile-mvc:beans xmlns:agile-mvc="http://www.springframework.org/schema/beans"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
                 xmlns:c="http://www.springframework.org/schema/c" xmlns:util="http://www.springframework.org/schema/util"
                 xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans.xsd
                 http://www.springframework.org/schema/util
                 http://www.springframework.org/schema/util/spring-util.xsd">

    <agile-mvc:description>spring mvc配置</agile-mvc:description>

    <!--响应视图解析器路由-->
    <agile-mvc:bean id="viewResolver" class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver" p:order="1" p:contentNegotiationManager-ref="contentNegotiationManager" p:defaultViews-ref="defaultViews"/>

    <!--路由配置-->
    <agile-mvc:bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean"
                    p:ignoreAcceptHeader="true"
                    p:favorPathExtension="true"
                    p:favorParameter="true"
                    p:parameterName="format"
                    p:defaultContentType="application/json;charset=UTF-8"
                    p:mediaTypes-ref="mediaTypes"/>

    <!--多媒体类型-->
    <util:properties id="mediaTypes">
        <agile-mvc:prop key="atom">application/atom+xml</agile-mvc:prop>
        <agile-mvc:prop key="form">application/x-www-form-urlencoded</agile-mvc:prop>
        <agile-mvc:prop key="json">application/json</agile-mvc:prop>
        <agile-mvc:prop key="octet-stream">application/octet-stream</agile-mvc:prop>
        <agile-mvc:prop key="event-stream">text/event-stream</agile-mvc:prop>
        <agile-mvc:prop key="pdf">application/pdf</agile-mvc:prop>
        <agile-mvc:prop key="xhtml">application/xhtml+xml</agile-mvc:prop>
        <agile-mvc:prop key="xml">application/xml</agile-mvc:prop>
        <agile-mvc:prop key="gif">image/gif</agile-mvc:prop>
        <agile-mvc:prop key="jpeg">image/jpeg</agile-mvc:prop>
        <agile-mvc:prop key="png">image/png</agile-mvc:prop>
        <agile-mvc:prop key="multipart">multipart/form-data</agile-mvc:prop>
        <agile-mvc:prop key="html">text/html</agile-mvc:prop>
        <agile-mvc:prop key="plain">text/plain</agile-mvc:prop>
        <agile-mvc:prop key="markdown">text/markdown</agile-mvc:prop>
    </util:properties>

    <!--默认视图列表-->
    <util:list id="defaultViews">
        <agile-mvc:ref bean="mappingJackson2JsonView"/>
        <agile-mvc:ref bean="marshallingView"/>
    </util:list>

    <!--json视图-->
    <agile-mvc:bean id="mappingJackson2JsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" p:objectMapper-ref="objectMapper"/>
    <!--json视图解析时间格式化配置-->
    <agile-mvc:bean id="objectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean" p:indentOutput="true" p:simpleDateFormat="yyyy-MM-dd HH:mm:ss"/>

    <!--xml视图-->
    <agile-mvc:bean id="marshallingView" class="org.springframework.web.servlet.view.xml.MarshallingView" c:marshaller-ref="xStreamMarshaller"/>

    <agile-mvc:bean id="xStreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller"/>
    <!--支持上传文件-->
    <agile-mvc:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
                    p:maxUploadSize="${agile.upload.max_upload_size}"
                    p:defaultEncoding="${agile.upload.default_encoding}"/>

</agile-mvc:beans>