<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd ">

    <cache:annotation-driven cache-manager="redisCacheManager"/>
    <!-- 启用用户的缓存功能 -->
    <!--<bean id="userCache" class="org.springframework.security.core.userdetails.cache.EhCacheBasedUserCache">-->
        <!--<property name="cache" ref="userEhCache" />-->
    <!--</bean>-->

    <!--<bean id="userEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">-->
        <!--<property name="cacheName" value="securityCache" />-->
        <!--<property name="cacheManager" ref="cacheManager" />-->
    <!--</bean>-->

    <bean id = "redisCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager"
          c:redisOperations-ref="redisTemplate"/>

    <bean id = "ehCacheCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehCacheManagerFactory"/>
        <property name="transactionAware" value="true"/>
    </bean>

    <bean id = "ehCacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:com/agile/configure/agile-ehcache.xml"/>
        <property name="shared" value="true"/>
        <property name="cacheManagerName" value="agileCacheManager"/>
    </bean>

</beans>