<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
">

    <description>数据持久化框架JPA配置</description>

    <!--JPA dao包扫描，自动完成DAO注入，添加事务-->
    <jpa:repositories base-package="com.agile.mvc.model.dao" transaction-manager-ref="transactionManager" entity-manager-factory-ref="entityManagerFactory"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>

        <!--指定Jpa持久化实现厂商类,这里以Hibernate为例-->
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="${agile.jpa.generate_ddl}"/>
                <property name="database" value="${agile.jpa.db}"/>
                <property name="databasePlatform" value="${agile.jpa.database_platform}"/>
            </bean>
        </property>
        
        <!--指定自动扫描的注解实体类包-->
        <property name="packagesToScan" value="com.agile.mvc.model.entity"/>

        <!--JPA属性-->
        <property name="jpaProperties">
            <props>
                <!--基本配置-->
                <prop key="hibernate.hbm2ddl.auto">${agile.jpa.hbm2ddl}</prop>

                <!--二级缓存-->
                <prop key="hibernate.current_session_context_class">${agile.jpa.current_session_context_class}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${agile.jpa.use_second_level_cache}</prop>
                <prop key="hibernate.cache.use_structured_entries">${agile.jpa.use_structured_entries}</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
                <prop key="hibernate.net.sf.ehcache.configurationResourceName">agile-ehcache.xml</prop>

                <!--查询缓存-->
                <prop key="hibernate.cache.use_query_cache">${agile.jpa.use_query_cache}</prop>
                <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
                <prop key="hibernate.show_sql">${agile.jpa.show_sql}</prop>
                <prop key="hibernate.format_sql">${agile.jpa.format_sql}</prop>
            </props>
        </property>
    </bean>
    
    <!--事务处理-->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!--事务注解驱动-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
</beans>