<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<agile-security:beans xmlns:agile-security="http://www.springframework.org/schema/beans"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
                      xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
                      xsi:schemaLocation="http://www.springframework.org/schema/beans
                      http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/security
                      http://www.springframework.org/schema/security/spring-security.xsd"
                      default-lazy-init="true">

    <agile-security:description>security配置</agile-security:description>

    <!--免认证-->
    <security:http pattern="/druid/*" security="none"/>
    <security:http pattern="/**/*.png" security="none"/>
    <security:http pattern="/**/*.jpg" security="none"/>
    <security:http pattern="/**/*.jpeg" security="none"/>
    <security:http pattern="/**/*.gif" security="none"/>
    <security:http pattern="${agile.security.not_login_url}" security="none"/>
    <security:http entry-point-ref="authenticationProcessingFilterEntryPoint" use-expressions="true">
        <security:intercept-url pattern="/**" access="isAuthenticated()"/>
        <security:remember-me key="e37f4b31-0c45-11dd-bd0b-0800200c9a66"/>
        <security:custom-filter ref="loginFilter" position="FORM_LOGIN_FILTER"/>
        <security:logout logout-url="${agile.security.login_out_url}"
                         logout-success-url="${agile.security.login_success_url}" delete-cookies="JSESSIONID"
                         invalidate-session="true"/>
        <security:session-management invalid-session-url="${agile.security.invalid_session_url}"/>
        <security:csrf request-matcher-ref="agileCsrfSecurityRequestMatcher"></security:csrf>
    </security:http>

    <!--CSRF过滤器-->
    <agile-security:bean id="agileCsrfSecurityRequestMatcher" class="com.agile.common.security.AgileCsrfSecurityRequestMatcher"
                         p:allowedUrl="${agile.security.csrf_allow_url}"
                         p:allowedMethod="${agile.security.csrf_allow_methods}"/>

    <!--默认未登录的切入点-->
    <agile-security:bean id="authenticationProcessingFilterEntryPoint"
                         class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint"
                         c:loginFormUrl="${agile.security.not_login_url}"/>

    <!--登录认证体系-->
    <agile-security:bean id="loginFilter" class="com.agile.common.security.AgileUsernamePasswordAuthenticationFilter"
                         p:filterProcessesUrl="${agile.security.login_url}"
                         p:authenticationSuccessHandler-ref="AuthenticationSuccessHandler"
                         p:authenticationFailureHandler-ref="AuthenticationFailureHandler"
                         p:authenticationManager-ref="authenticationManager"/>

    <!--认证管理器，使用自定义的UserDetailsService，并对密码采用md5加密-->
    <security:authentication-manager alias="authenticationManager" erase-credentials="false">
        <security:authentication-provider ref="agileAuthenticationProvider"/>
    </security:authentication-manager>

    <!--验证成功默认显示页面 -->
    <agile-security:bean id="AuthenticationSuccessHandler"
                         class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler"
                         p:alwaysUseDefaultTargetUrl="true"
                         p:defaultTargetUrl="${agile.security.success_url}"/>

    <!--验证失败显示页面-->
    <agile-security:bean id="AuthenticationFailureHandler"
                         class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"
                         p:defaultFailureUrl="${agile.security.failure_url}"/>

    <!--定义上下文返回的消息的国际化-->
    <agile-security:bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
                         p:basename="com.agile.configure.agile-message"/>

</agile-security:beans>